.fa-house{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.fa-house:hover{
    cursor: pointer;
    
}

p  {
    margin-top: 15px;
    max-width: 700px;
    padding-left: 10px;
}

header{
    position: absolute;
    width: 1100px;
    height: 720px;
}

#overlays{
    position: absolute;
    width: 1100px;
    height: 720px;
   
}

#woodyHeader{
    position: absolute;
    width: 100px;
    left: 80%;
    top: 20.3%;
}

#dexHeader{
    position: absolute;
    width: 100px;
    left: 9%;
    top: 25%;

}

.hidden{
    display:none;
}

#woodyPic{
    width: 370px;
    display: block;
    border-radius: 10%;
}

#dexPic{
    width: 300px;
    border-radius: 125px;
    height: auto;
    
}



#overlayW{
    position: absolute;
    left: 77.5%;
    top: 55.5%;
    
 
}
#overlayD{
    position: absolute;
    left: -9%;
    top: 49%;
    
    
}

#hovers{
    position: absolute;
    height: 720px;
    width: 1100px;
}

#hover1{
    position: absolute;
   width: 70px;
    height: 150px;
    top: 25.5%;
    left: 82.5%;
    
 
}

#hover2{
    position: absolute;
   width: 70px;
    height: 150px;
    top: 26.5%;
    left: 11%;
   
}



#heroImg {
    margin: auto;
    width: 700px;
    
}



body{
    width: 1100px;
    background-color: #1F464A;
    font-family: 'Mali', cursive;
    color: #ffff;
    font-size: 22px;
    margin: auto;
   
}

main{
    margin-top: 130px;
}

#heroPage {
   position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
   
}

#pdata{
    font-weight: 900;
    font-size: 34px;
}

#pdata span {
    font-weight: 400;
    font-size: 24px;
}

#data{
    position: absolute;
    display: flex;
   gap: 750px;
   top: 50%;
   padding-left: 10px;
}

#woody1{
    position: absolute;
    width: 62px;
    top: 56%;
    right: 35%;
}

#dex1 {
    position: absolute;
    width: 110px;
    top: 63%;
    right: 55%;
}

#dex2 {
    position: absolute;
    width: 129px;
    top: 45.5%;
    right: 30%;
}

#dex3{
    position: absolute;
    width: 62px;
    top: 39%;
    right: 60%;
}

#dex4 {
    position: absolute;
    width: 110px;
    top: 63%;
    right: 35%;
}

#woody2 {
    position: absolute;
    width: 130px;
    top: 47%;
    right: 58%;
}

#dex5 {
    position: absolute;
    width: 70px;
    top: 65%;
    right: 65%;
}

#dex6 {
    position: absolute;
    width: 120px;
    top: 67%;
    right: 35%;
}

#woody3 {
    position: absolute;
    width: 120px;
    top: 61%;
    right: 55%;
}

#dex7 {
    position: absolute;
    width: 120px;
    top: 68%;
    right: 55%;
}