.fa-house{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.fa-house:hover{
    cursor: pointer;
    
}

p  {
    margin-top: 15px;
    max-width: 700px;
    padding-left: 10px;
}

#heroImg {
    margin: auto;
    width: 700px;
    
}



body{
    width: 1100px;
    background-color: #1F464A;
    font-family: 'Mali', cursive;
    color: #ffff;
    font-size: 22px;
    margin: auto;
   
}

main{
    margin-top: 150px;
}

#heroPage {
   
    display: flex;
    flex-direction: column;
   
    align-items: center;
    margin: auto;
   
}






