.fa-house{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.fa-house:hover{
    cursor: pointer;
    
}

body{
    width: 1100px;
    background-color: #1F464A;
    font-family: 'Mali', cursive;
    color: #ffff;
    font-size: 35px;
}

main{
    
    
}
section .heroPage {
    margin: auto;
    display: block;
}